:root {
  ::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}
  --neon: rgba(0, 197, 200, 1);
  --neon-bg: rgba(0, 197, 200, 0.1);
  --white: rgba(246, 242, 229, 1);
  --white2: rgba(241, 241, 241, 1);
  --bg: rgba(6, 25, 29, 1);
  --bg-hover: rgba(10, 44, 50, 0.5);
  --activeWhite: hsla(160, 52%, 71%, .2);
  --hoverWhite: hsla(160, 52%, 71%, .4);
  --font-body: clamp(1rem, 0.8645rem + 0.6024vw, 1.25rem);
  --font-big-header: clamp(2rem, 0.9157rem + 4.8193vw, 4rem);
  --font-sub-header: clamp(1.5rem, 1.2289rem + 1.2048vw, 2rem);
  --14px: .875rem;
  --15px: .9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --24px: 1.5rem;
  --42px: 2.652rem;
  --64px: 4rem;
  --font-family-lato: Lato, Helvetica, arial;
  --font-family-open-sans: 'Open Sans', Helvetica, arial;
  --font-family-roboto-slab: "Roboto Slab", serif;
}

body {
  background-color: var(--bg);
  color: var(--white);
  margin: 0;
  font-size:  var(--16px);
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: var(--white);
  font-family: var(--font-family-open-sans);
}

h2.title {
  font-size: var(--font-sub-header);
}

p {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-body);
}

li {
  font-size: var(--18px);
}

a {
  color: var(--neon);
  &:hover {
    color: var(--white);
    // text-decoration: line-through;
  }
}

a, .button {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.main-content {
  padding: 140px 0 100px;
}

.page-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 6rem 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.button {
  font-family: var(--font-family-open-sans);
  color: #141c3a;
  // padding: 0.5rem;
  font-size: var(--18px);

  // Custom Neon Color
  &.custom-neon {
    background-color: var(--neon);
    color: white;
    border: 2px solid var(--neon);

    &:hover {
      background-color: transparent;
      color: var(--neon);
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.mb-8 {
  margin-bottom: 4rem !important;
}

/// Bottom to Top button
.top-to-btm {
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  right: 46%;
  z-index: 20;
  @media screen and (min-width: 769px) {
    bottom: 46%;
    right: 5%;
  }
  svg {
    color: var(--neon);
    &:hover {
      color: var(--white);
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
    }
  }
}

// screen fade in effect
.fade_in {
  animation: fadein 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}
@media (prefers-reduced-motion) {
  .fade-in-section {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    will-change: opacity, visibility;
  }
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

// Neon Tag
.tag {
  &.is-neon {
    color: var(--neon);
    background-color: var(--neon-bg);
  }
}

//////////////
// Navigation
//////////////
.navbar {
  background-color: rgba(6, 25, 29, 0);
  // backdrop-filter: blur(4px);
  // height: 3rem;
  margin: 20px auto 0;
  .home {
    &:focus {
      background-color: transparent;
    }
  }
  &-brand {
    background-color: rgba(6, 25, 29, 0.15);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 50px;
    padding: 10px;
    .navbar-item {
      font-family: var(--font-family-roboto-slab);
      font-size: 1rem;
      color: var(--white);
      &:hover,
      &:active {
        background-color: transparent;
        color: #999;
      }
    }
    .navbar-burger {
      span {
        background-color: var(--white);
      }
    }
    .dev-title {
      font-family: var(--font-family-roboto-slab);
      font-size: 1rem;
      color: var(--white);
      align-items: center;
      display: flex;
      padding: 0.5rem 0.75rem;
    }
  }

  &-menu {
    .navbar-end {
      padding: 0.625rem;
      height: auto;
      border-radius: 50px;
      transition: all .2s linear;
      @media screen and (min-width: 1024px) {
        height: 3.5rem;
      }
      &.scrolled {
        background-color: rgba(6, 25, 29, 0.5);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
      }
    }
    &.is-active {
      background-color: var(--bg);
    }
    .navbar-item {
      font-family: var(--font-family-open-sans);
      color: var(--white);
      padding: 0.5rem 1rem;
      z-index: 1000;
      margin: 0 5px;
      font-weight: 600;

      &.active {
        border-radius: 50px;
        text-decoration: none;
        background-color: var(--activeWhite);
        // &:after {
        //   content: "";
        //   background: var(--neon);
        //   height: 2px;
        //   width: 69%;
        //   margin-top: 28px;
        //   margin-left: -4%;
        //   position: absolute;
        //   z-index: -1;
        // }
      }
      .button.is-outlined {
        border: 2px solid var(--neon);
        font-weight: 600;
        color: var(--neon);
        min-width: 120px;
        &:hover,
        &:focus {
          background-color: var(--neon);
          color: var(--white);
        }
      }
      &:hover {
        background-color: var(--hoverWhite);
        border-radius: 50px;
      }

      .text-say-hello {
        display: none;
        &:after {
          content: "Say Hello";
        }
        &:hover:after{
          content: "Contact";
        }
        @media screen and (min-width: 1024px) {
          display: block;
        }
      }
    }
    .contact-me {
      &:hover {
        background-color: transparent;
      }
      .button {
        font-size: 1rem;
      }
    }
  }

  // Overwrite mobile hamburger menu pops up
  @media screen and (max-width: 1023px) {
    .navbar-menu {
      display: flex;
      justify-content: center;
      background-color: transparent;
      box-shadow: none;
      padding: initial;
      .navbar-end {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 0.5rem;
        .navbar-item {
          width: auto;
        }
      }
    }
  }
}

///////////
/* Home */
///////////
// .home.hero {
//   background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80')
//   no-repeat center center/cover;
//   position: relative;
//   top: -60px;
// }

.content h1.title {
  font-size: var(--font-big-header);
}

.hero {
  .page-body {
    z-index: 10;
  }
  // &:before {
  //   background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 80px 80px, linear-gradient(to right, currentcolor 1px, transparent 1px) transparent;
  //   transition: all 0.5s linear 0s;
  //   content: "";
  //   z-index: 0;
  //   height: 100vh;
  //   width: 100vw;
  //   color: rgba(246, 242, 229, 0.03);
  //   position: fixed;
  // }
  &:after {
    background-image: radial-gradient(at 40% 45%, rgb(0, 197, 200, 0.15), transparent 80%);
    position: fixed;
    content: "";
    z-index: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(100%);
    top: 0px;
  }
}

.home {
  &.hero {
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://unsplash.it/1200/900?random) no-repeat center center fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/home-g-bg-1200x900.jpg) no-repeat center center fixed;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/home-g-bg-1200x900.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-attachment: fixed;
    background-size: cover;
    position: relative;
    .text-over-hero {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &__text {
    color: var(--white);
    font-size: var(--font-big-header);
    line-height: 1;
  }
  &__subtext {
    color: var(--white);
    font-size: var(--font-big-subheader);
    line-height: 1.4;
  }
  &__content {
    &--text {
      font-size: 4rem;
      line-height: 1.4;
      color: var(--white);
      direction: rtl;
      .link-item {
        align-items: center;
        display: flex;
      }
    }
  }
  + footer.footer {
    margin: 0;
  }
}

//////////
/* Work */
//////////
.work {
  .card {
    background-color: transparent;
    &-image {
      video {
        max-height: 413px;
        max-width: 612px;
        width: 100%;
      }
    }
    &-footer {
      border: none;
      flex-direction: column;
      @media screen and (min-width: 769px) {
        flex-direction: row;
      }
      > .card-footer-item {
        border: none;
        align-content: flex-start;
      }
      a {
        font-family: var(--font-family-roboto-slab);
        color: var(--white);
        &:hover {
          color: var(--neon);
        }
      }
    }
  }
  .video-player {
      max-height: 413px;
      max-width: 612px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .react-player__shadow {
        background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 100%) !important;
      }
  }
}

/////////////////
/* User Design */
/////////////////
.user {
  .react-tabs {
    &__tab-list {
      border: 0;
      margin-left: 0;
      margin-bottom: 3rem;
    }
    &__tab {
      width: 50%;
      text-align: center;
      &:focus {
        border: none;
        position: initial;
      }
      &:focus:after {
        content: none;
      }
    }
    &__tab--selected {
      border-radius: 5px;
    }
    &__tab-panel {
      margin-top: 3rem;
    }
  }
  .big-quote {
    margin: 40px 0;
    padding: 30px;
    font-style: italic;
    @media screen and (min-width: 769px) {
      margin: 60px 0;
      padding: 50px;
    }
  }
}

///////////
/* About */
///////////
.about {
  .left-text {
    padding-top: 1.7rem;
  }
  .right-text {
    .skill-listings {
      margin-left: 1.4rem;
      margin-bottom: 2rem;
    }
  }
  .job {
    padding: 1rem;
    display: block;
    margin-bottom: 2rem;
    &:hover {
      background-color: var(--bg-hover);
      border-radius: 10px;
      box-shadow: 0 0px 2px 0 rgba(255, 255, 254, 0.2), 0 0px 10px 0 rgba(255, 255, 255, 0.19);
      transition: all 0.3s ease-in-out;
    }
  }
  .skills {
    gap: 10px;
    margin: 30px 0 0;
  }
  .experience {
    align-items: flex-start;
    aside {
      position: initial;
      @media screen and (min-width: 769px) {
        position: sticky;
        top: 100px;
      }
    }
  }
}

/////////////
/* Contact */
/////////////
.contact {
  ::placeholder {
    color: white;
    opacity: 0.3; /* Firefox */
  }
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: white;
  }
  label {
    color: var(--white);
  }
  input,
  textarea {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
  }
  .is-invisible {
    display: none !important;
  }
  .button-reset {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #f5f5f5;
    &:hover {
      background-color: #f5f5f5;
      color: #3c3c3c;
    }
  }
  // reverse button orders in mobile
  .send-container {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      display: flex;
      align-items: center;
      .column {
        width: 100%;
      }
    }
  }
}

/* Footer */
footer.footer {
  text-align: center;
  margin-top: 100px;
  display: inline-block;
  width: 100%;
  background-color: #072227;
  .logo {
    height: 14px;
  }
  .year {
    margin: 30px;
  }
  .linkedin {
    &:hover > svg {
      color: rgb(13,118,168);
    }
  }
  .github {
    &:hover > svg {
      color: #1f2328;
    }
  }
  .dribbble {
    &:hover > svg {
      color: #ea4c89;
    }
  }
  .email {
    &:hover > svg {
      color: var(--neon);
    }
  }
  .made-by {
    display: flex;
    justify-content: center;
    align-items: center;
    &-react {
      margin-left: 8px;
    }
  }
}

@media (min-width: 992px) {
  footer .footer-col {align-items: flex-start;}
}

.is-divider, .is-divider-vertical {
  display: block;
  position: relative;
  border-top: 0.1rem solid #dbdbdb;
  height: 0.1rem;
  margin: 2rem 0;
  text-align: center;
}