:root {
  ::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}
  --neon: #00c5c8;
  --white: #f6f2e5;
  --white2: #f1f1f1;
  --bg: #06191D;
}

body {
  font-family: 'Open Sans', Helvetica, arial;
  background-color: var(--bg);
  color: var(--white);
}

h1,h2,h3,h4,h5,h6,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: var(--white);
}

p {
  color: var(--white);
  font-family: Lato, Helvetica, arial;
}

a {
  color: var(--neon);
  &:hover {
    color: var(--white);
  }
}

a, .button {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.button {
  font-family: "Open Sans", helvetica, arial, serif;
  color: #141c3a;
  padding: 1.2rem;
  font-size: 18px;

  // Custom Neon Color
  &.custom-neon {
    background-color: var(--neon);
    color: white;
    border: 2px solid var(--neon);

    &:hover {
      background-color: transparent;
      color: var(--neon);
    }
  }
}

.navbar {
  background-color: rgba(6, 25, 29, 0.2);
}

.navbar-brand {
  .navbar-item {
    font-family: "Open Sans", helvetica, arial, serif;
    font-size: 1.25rem;
    color: var(--white);
    &:hover,
    &:active {
      background-color: transparent;
      color: #999;
    }
  }
  .navbar-burger {
    span {
      background-color: var(--white);
    }
  }
}

.navbar-menu {
  background-color: var(--bg);
  .navbar-item {
    font-family: "Open Sans", helvetica, arial, serif;
    font-size: 1.25rem;
    // color: #141c3a;
    color: var(--white);
    padding: 1.2rem;
    &.active {
      color: var(--neon);
    }
    .button.is-outlined {
      border: 2px solid var(--neon);
      font-weight: 600;
      color: var(--neon);
      min-width: 134px;
      &:hover,
      &:focus {
        background-color: var(--neon);
        color: var(--white);
      }
    }
    &:hover {
      background-color: transparent;
      color: var(--neon);
    }

    .text-say-hello {
      &:after {
        content: "Say Hello";
      }
      &:hover:after{
        content: "Contact";
      }
    }
  }
}

/* Home */
// .home.hero {
//   background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80')
//   no-repeat center center/cover;
//   position: relative;
//   top: -60px;
// }

.home {
  &.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://unsplash.it/1200/900?random) no-repeat center center fixed;
    background-size: cover;
  }
  + footer.footer {
    margin: 0;
  }
}

.hero-text {
  font-size: 4rem;
  line-height: 1.4;
  color: var(--white);
}

/* Work */
.work {
  .card {
    background-color: transparent;
  }
  .card-image {
    video {
      max-height: 413px;
      max-width: 612px;
    }
  }
  .card-footer {
    border: none;
    flex-direction: column;
    @media screen and (min-width: 769px) {
      flex-direction: row;
    }
    > .card-footer-item {
      border: none;
      align-content: flex-start;
    }
    .link-width {
      max-width: 250px;
    }
    .text-no-link {

    }
    a {
      font-family: 'Roboto Slab', serif;
      color: var(--white);
      &:hover {
        color: var(--neon);
      }
    }
  }
}

/* User */
.user {
  .react-tabs {
    &__tab-list {
      border: 0;
      margin-left: 0;
      margin-bottom: 3rem;
    }
    &__tab {
      width: 50%;
      text-align: center;
      &:focus {
        border: none;
        position: initial;
      }
      &:focus:after {
        content: none;
      }
    }
    &__tab--selected {
      border-radius: 5px;
    }
    &__tab-panel {
      margin-top: 3rem;
    }
    &__tab-panel--selected {

    }
  }
  .big-quote {
    margin: 40px 0;
    padding: 30px;
    font-style: italic;
    @media screen and (min-width: 769px) {
      margin: 60px 0;
      padding: 50px;
    }
  }
}

.top-to-btm {
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  right: 46%;
  z-index: 20;
  @media screen and (min-width: 769px) {
    bottom: 46%;
    right: 5%;
  }
  svg {
    color: var(--neon);
    &:hover {
      color: var(--white);
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
    }
  }
}

/* About */
.about {
  .skills {
    gap: 10px;
    margin: 30px 0 40px;
    @media screen and (min-width: 769px) {
      margin: 30px 0 80px;
    }
  }
  .experience {
    align-items: flex-start;
    aside {
      position: initial;
      @media screen and (min-width: 769px) {
        position: sticky;
        top: 100px;
      }
    }
  }
}


.main-content {
  padding: 140px 0 100px;
}

.page-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 6rem 1.5rem;
}

/* Contact */
.contact {
  label {
    color: var(--white);
  }
  input,
  textarea {
    background-color: #f1f1f1;
  }
}

/* Footer */
footer.footer {
  text-align: center;
  margin-top: 100px;
  display: inline-block;
  width: 100%;
  background-color: #072227;
  .logo {
    height: 14px;
  }
  .year {
    margin: 30px;
  }
  .linkedin {
    &:hover > svg {
      color: rgb(13,118,168);
    }
  }
  .github {
    &:hover > svg {
      color: #1f2328;
    }
  }
  .dribbble {
    &:hover > svg {
      color: #ea4c89;
    }
  }
  .email {
    &:hover > svg {
      color: var(--neon);
    }
  }
  .made-by {
    display: flex;
    justify-content: center;
    align-items: center;
    &-react {
      margin-left: 8px;
    }
  }
}

@media (min-width: 992px) {
  footer .footer-col {align-items: flex-start;}
}

.is-divider, .is-divider-vertical {
  display: block;
  position: relative;
  border-top: 0.1rem solid #dbdbdb;
  height: 0.1rem;
  margin: 2rem 0;
  text-align: center;
}